/* Footer CSS */

.footer h5 {
    color: lightcyan;
}

.footer .list-unstyled li{
    padding: 5px 0px;
    color: lightgray;
}

.footer .list-unstyled a {
    text-decoration: none;
    color: lightgray;
}   

.footer .list-unstyled a:hover {
    text-decoration: none;
    color: lightblue;
}  
